{% extends "layout.html" %}
{% block content %}
    <div class="about">
        <h1>About</h1>
        <p>This is a test of my dev skills if there are any. </p>
        <p>Self doubt is a natural propertie of human being. The unnatural thing is when it goes over the limits. What I'm trying to say here is don't be afraid,  go ahead, <span class="stress">life is finite</span>, make the  most  of it!</p>
        <p>There is a chance that  you want to stay the way you are right now, and its  okay :) </p>
    </div>
{% endblock %}