<!DOCTYPE html>
<html>
    <head>
        <title>Anastasia V| Portfolio</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <!-- <link rel="shortcut icon" href="{{url_for('static',filename='/favicon.ico')}}"> -->
        <link rel="shortcut icon" href="{{url_for('static',filename='/favicon.svg')}}">
        <link rel="icon" type="image/svg+xml" href="{{ url_for('static', filename='favicon.svg') }}">
    </head>
    <body>
    <header>
      <div class="container">
        <h1 class="logo">Dev wannabe</h1>
        <nav>
          <ul class="menu">
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('about') }}">About</a></li>
            <li><a href="{{ url_for('projects') }}">Projects</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
    <footer>
      <div class="footer-contacts">
        <address>        
          <a href="#">Github</a><br>
          <a href="#">FreeCodeCamp</a><br>
          <a href="mailto:anastasiav.fl@gmail.com">E-mail</a><br>
          <a href="https://t.me/notimetofly">Telegram</a>
        </address> 
      </div>
    </footer>
  </body>
</html>