<!DOCTYPE html>
<html>
    <head>
        <title>Anastasia Vlasova | Portfolio</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    </head>
    <body>
    <header>
      <div class="container">
        <h1 class="logo">Annestezia</h1>
        <nav>
          <ul class="menu">
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('about') }}">About</a></li>
            <li><a href="{{ url_for('projects') }}">Projects</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
    <footer>
      <div class="footer-links">
        <a href="#">Github</a>
        <a href="#">FCC</a>
      </div>      
      <div class="footer-contacts">
        <address>
          E-mail: <a href="mailto:anastasia.v.vlasova@gmail.com">Annestezia</a><br>
          telegram: @notimetofly
        </address> 
      </div>
    </footer>
  </body>
</html>